<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.biz4solutions.profile">

    <application tools:ignore="AllowBackup,GoogleAppIndexingWarning,MissingApplicationIcon">
        <activity
            android:name="com.biz4solutions.activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

    </application>
</manifest>
