<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biz4solutions.loginlib">

    <application>
        <activity
            android:name="com.biz4solutions.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--<meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />-->
    </application>

</manifest>